/* ============================ */
/*Brit's Reset*/
/* ============================ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  text-decoration: none;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  line-height: 1;
}

body {
  font-size: 1.6rem;
  background-color: white;
}

a{
    text-decoration: none;
}

/* ============================ */
/* General */
/* ============================ */

h1 {
  font-family: "Chelsea Market", cursive;
  font-size: 6.8rem;
}

h2,
p,
a {
  font-family: "Roboto Mono", monospace;
  line-height: 1.2;
}

body {
    max-width: 1200px;
    min-width: 1080px;
    margin: 4rem auto;
}

nav {
    width: 100%;
    /* height: 10rem; */
    padding: auto;
}

nav a {
    display: inline-block;
    color: white;
    border-radius: 10px;
    max-width: 16rem;
    padding: 1rem 2.5rem;
    text-align: center;
    margin: 2rem 8% 2rem 10%;
}

.plan {
    background-color: #FF764E;
}

.learn {
    background-color: #5ED3EB;
}

.get {
    background-color: #FFCD69;
}

/* puts a border around all children */
/* header div>*{
    border: 1px solid red;
} */

header div {
    height: 35rem;
    vertical-align: top;
}

.imgcontainer {
    display: inline-block;
    max-height: 100%;
    max-width: 25%;
    margin: 3rem;
    height: auto
}

header div img {
    height: auto;
    width: auto;
    border-radius: 50%;
}

.headtext {
    display: inline-block;
    text-align: center;
    width: 65%;
    max-height: 100%;
    margin:0 auto;
}

.headtext h1 {
    margin: 5rem 0;
}

.headtext p {
    margin: 1rem auto;
    width: 70%;
}

.headtext p:last-child {
    width: 45%;
}

.textOne{
    width:95%;
    background-color:#DDB9A3;
    margin:0 auto;
    padding:.6rem 2rem;
    color:white;
  }
  .textOne p{
    margin: 2% 0;
  }